@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-rubik: "Rubik", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

/*

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}

h1, h2, h3, h4, h5, h6 {
  @apply font-sans;
  font-family: var(--font-rubik);
}

span {
  @apply font-sans;
  font-family: var(--font-poppins);
}

button {
  @apply font-sans;
  font-family: var(--font-rubik);
}