@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-rubik: "Rubik", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

.dark {
  --background: #1a1d21;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}
#light-dark-toggle-container .checkbox {
  opacity: 0;
  position: absolute;
}
#light-dark-toggle-container .checkbox-label {
  background-color: #1a1d21;
  width: 52px;
  height: 28px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #1a1d21;
  transition: 0.5s;
}
.dark #light-dark-toggle-container .checkbox-label {
  border: 1px solid #ffffff;
}

#light-dark-toggle-container .fa-moon {
  color: #f1c40f;
}

#light-dark-toggle-container .fa-sun {
  color: #f39c12;
}

#light-dark-toggle-container .checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
#light-dark-toggle-container .checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-sans;
  font-family: var(--font-rubik);
}

span {
  @apply font-sans;
  font-family: var(--font-poppins);
}

button {
  @apply font-sans;
  font-family: var(--font-rubik);
}
.progress-bar {
  height: 4px;
  background-color: rgba(5, 114, 206, 0.2);
  width: 100%;
  overflow: hidden;
}

.progress-bar-value {
  width: 100%;
  height: 100%;
  background-color: rgb(5, 114, 206);
  animation: indeterminateAnimation 1s infinite linear;
  transform-origin: 0% 50%;
}

@keyframes indeterminateAnimation {
  0% {
    transform:  translateX(0) scaleX(0);
  }
  40% {
    transform:  translateX(0) scaleX(0.4);
  }
  100% {
    transform:  translateX(100%) scaleX(0.5);
  }
}

@layer utilities {
  .font-righteous {
    font-family: var(--font-righteous), sans-serif;
  }
}